<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>what is <%= details.title %> </title>
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/read.css">
    <script src="/js/nav.js" defer></script>
</head>
<body>
    <%- include('nav'); -%>
    <div class="read-header">
        <h1 class="heading"><%= details.title %> </h1>
    </div>
    <div class="details">
        <img src="/images/<%= details.src %>" alt="">
        <p><%= details.para %> </p>
    </div>
    <%- include('footer'); -%>
</body>
</html>